.contenedor-izquierdo{
    width: 300px;
    height: 625px;
    background-color: gray;
    margin: -8px -16px;
}

.contenedor-izquierdo_img{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/X3Z2ZwW/mi-foto.jpg");
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 75px;
    top: 20px;
}

.contenedor-izquierdo_sobre_mi h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
    color: #ffffff;
}

.contenedor-izquierdo_sobre_mi p{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #c7c7c7;
}

.contendor-izquierdo_barra{
    width: 200px;
    height: 1px;
    background-color: rgb(179, 178, 178);
    position: relative;
    left: 45px;
    top: 10px;
}

.contenedor-izquierda_redes_sociales{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.contenedor-izquierda_redes_sociales h2{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.contenedor-izquierda_redes_sociales p span{
    color: #c2bebe;
}

.contenedor-izquierda_redes_sociales p small{
    font-size: 13px;
    color: #c1bfbf;
}

.contenedor-derecho{
    position: relative;
    top: -500px;
    left: 300px;
    display: inline-block;
}

.contenedor-derecho_nombre{
    color: rgb(165, 165, 165);
    font-family: 'Passion One', cursive;
    position: relative;
    top: -65px;
    left: 10px;
    font-size: 25px;
}

.contenedor-derecho_nombre span{
    color: #7f7777;
    position: relative;
    top: -40px;
}

.contenedor-derecho_experiencias{
    position: relative;
    top: -50px;
}

.contenedor-derecho_experiencias h2{
    position: relative;
    top: -50px;
    color: #958888;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.contenedor-derecho_experiencias h3{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: -40px;
    color: rgb(80, 80, 80);
}

.contenedor-derecho_linea-tiempo-padre{
    position: relative;
    top: -25px;
}

.paragraph{
    font-family: 'Passion One', cursive;
    color: #9d9d9d;
    font-size: 12px;
    width: 200px;
    position: relative;
    left: 40px;
}


.contenedor-derecho_linea_tiempo{
    width: 20px;
    height: 20px;
    background-color: rgba(68, 68, 68, 0.402);
    position: relative;
    top: -275px;
    left: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenedor-derecho_linea_tiempo_2{
    width: 3px;
    height: 60px;
    background-color: rgba(68, 68, 68, 0.241);
    position: relative;
    top: 20px;
    left: 9px;
    z-index: -100;
}

.contenedor-derecho_linea_tiempo_3{
    width: 20px;
    height: 20px;
    background-color: rgba(68, 68, 68, 0.402);
    position: relative;
    top: -227px;
    left: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenedor_derecho_linea_tiempo_4{
    width: 3px;
    height: 60px;
    background-color: rgba(68, 68, 68, 0.241);
    position: relative;
    top: 20px;
    left: 9px;
    z-index: -100;
}

.contenedor-derecho_linea_tiempo_5{
    width: 20px;
    height: 20px;
    background-color: rgba(68, 68, 68, 0.402);
    position: relative;
    top: -179px;
    left: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenedor_derecho_linea_tiempo_6{
    width: 3px;
    height: 60px;
    background-color: rgba(68, 68, 68, 0.241);
    position: relative;
    top: 20px;
    left: 9px;
    z-index: -100;
}

.contenedor-derecho_educacion{
    position: relative;
    top: -160px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.contenedor-derecho_linea_tiempo_7{
    width: 20px;
    height: 20px;
    background-color: rgba(68, 68, 68, 0.402);
    position: relative;
    top: -50px;
    left: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenedor_derecho_linea_tiempo_8{
    width: 3px;
    height: 60px;
    background-color: rgba(68, 68, 68, 0.241);
    position: relative;
    top: 20px;
    left: 9px;
    z-index: -100;
}