<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div class="contenedor-izquierdo">
    <div class="contenedor-izquierdo_img">

    </div>
    <div class="contenedor-izquierdo_sobre_mi">
      <h1>Sobre mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente voluptatibus, quos qui dolorum corporis reiciendis omnis earum soluta dolores, optio eum ex quia. Quisquam nulla rem repellendus iusto, quaerat id.3
      </p>
    </div>
    <div class="contendor-izquierdo_barra">

    </div>
    <div class="contenedor-izquierda_redes_sociales">
      <h2>Redes Sociales</h2>
      <p>
        <span>Facebook:</span><br>
        <small>facebook.com/jahir.celoriomalave.9</small> 
      </p>
      <p>
        <span>Twitter:</span><br>
        <small>twitter.com/AdictosAlCodigo</small> 
      </p>
      <p>
        <span>Youtube:</span><br>
        <small>youtube.com/AdictosAlCodigo</small> 
      </p>
    </div>
  </div>
  <div>

  </div>
</body>
</html>