<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div class="contenedor-izquierdo">
    <div class="contenedor-izquierdo_img">

    </div>
    <div class="contenedor-izquierdo_sobre_mi">
      <h1>Sobre mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente voluptatibus, quos qui dolorum corporis reiciendis omnis earum soluta dolores, optio eum ex quia. Quisquam nulla rem repellendus iusto, quaerat id.3
      </p>
    </div>
    <div class="contendor-izquierdo_barra">

    </div>
    <div class="contenedor-izquierda_redes_sociales">
      <h2>Redes Sociales</h2>
      <p>
        <span>Facebook:</span><br>
        <small>facebook.com/jahir.celoriomalave.9</small> 
      </p>
      <p>
        <span>Twitter:</span><br>
        <small>twitter.com/AdictosAlCodigo</small> 
      </p>
      <p>
        <span>Youtube:</span><br>
        <small>youtube.com/AdictosAlCodigo</small> 
      </p>
    </div>
  </div>

  <div class="contenedor-derecho">
    <div class="contenedor-derecho_nombre">
      <h2>Jahir Celorio <br> Malavé</h2> <br>
      <span>Developer </span>
    </div>

    <div class="contenedor-derecho_experiencias">
      <h2>Experiencia de Trabajo</h2>
      <h3 class="contenedor-derecho_experiencias_empresa">Empresa 1 <br> 2020 - 2023</h3> 
      <h3 class="contenedor-derecho_experiencias_empresa">Empresa 2 <br> 2019 - 2021</h3>     
      <h3 class="contenedor-derecho_experiencias_empresa">Empresa 3 <br> 2018 - 2022</h3>
    </div>

    <div class="contenedor-derecho_linea-tiempo-padre">
      <div class="contenedor-derecho_linea_tiempo">
        <div class="contenedor-derecho_linea_tiempo_2">
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sapiente eius, provident repellat ratione quasi
          </p>
        </div>
      </div>
  
      <div class="contenedor-derecho_linea_tiempo_3">
        <div class="contenedor_derecho_linea_tiempo_4">
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sapiente eius, provident repellat ratione quasi
          </p>
        </div>
      </div>

      <div class="contenedor-derecho_linea_tiempo_5">
        <div class="contenedor_derecho_linea_tiempo_6">
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sapiente eius, provident repellat ratione quasi
          </p>
        </div>
      </div>
    </div>

    <div class="contenedor-derecho_educacion">
      <h2>Educación</h2>
      <div class="contenedor-derecho_linea_tiempo_7">
        <div class="contenedor_derecho_linea_tiempo_8">
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sapiente eius, provident repellat ratione quasi
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>